@font-face {
  font-family: "robot";

  font-style: normal;
  font-weight: 100;
  src: local(
    "C:Users\johns\AppData\Local\Microsoft\Windows\Fonts\Recoleta-Bold.otf"
  );
}

/* 
body 
.ch-aton


*/
.ch-atom-body-text {
  font-size: 15px;
  line-height: normal;
}

h1 {
  font-family: "robot";
  font-size: 35px;
  line-height: 33px;
  letter-spacing: normal;
  font-weight: 700;
}

.ch-header__topbar {
  text-align: center;
}
