/* :root {
  --ff1: Recoleta Bold;
  --ff2: "Spartan", sans-serif;
  --n: normal;
  --clr: rgb(64, 63, 87); /* black variation of headings */
/*  --clr1: rgb(118, 118, 118); /* grey variation of para 
} */

:root {
  --ff1: Recoleta Bold;
  --ff2: HK Nova;
  --n: normal;
  --clr: #403f57; /* black variation of headings  rgb(64, 63, 87); */
  --clr1: #767676; /* grey variation of para rgb(118, 118, 118); */
  --lblue: #63acfc;
  --whblue: red; /* #f8fbff;  very whitish blue color in container background */
  --br: 40px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.ch-atom-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  font-family: var(--ff1);
  letter-spacing: var(--n);
  color: var(--clr);
}

.ch-atom-h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}
.ch-atom-h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}

.ch-atom-body-heading {
  font-size: 30px;
  font-weight: 700;
}

.ch-atom-p {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--ff2);
  color: var(--clr1);
}

.ch-atom-body-subpara {
  font-size: 15px;
  font-weight: 100;
}

.ch-atom-button {
  color: #63acfc;
  border-radius: 20%;
}

/* header */
.ch-header__logo {
  width: 170px;
  height: 52.1875px;
}

/* header */

/* / banner 1 */

.ch-banner-main__h1 {
  text-align: left;
  font-family: var(--ff1);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

.ch-banner-main__customerimage {
  width: 594px;
  height: 583px;
  margin-top: 1px;
  margin-right: 2px;
}

/* banner 1 */

/* section 4 */
/* refer molecules section */
.ch-molc-empathy__image {
  width: 681px;
  height: 701px;
  margin-top: 45px;
}

/* section 4 */

/* footer */

.ch-org-footer{}

.ch-molc-footer-list{ padding: 0; }

  .ch-molc-footer-list--pl{ padding-left: 193px; }

  .ch-molc-footer-list__item{ font-size: 13px; padding: 10px; }

  .ch-molc-footer-list__item2{ font-size: 13px; padding: 5px; }


/* footer */