:root {
  --ff1: Recoleta Bold;
  --ff2: "Spartan", sans-serif;
  --n: normal;
  --clr: rgb(64, 63, 87); /* black variation of headings */
  --clr1: rgb(118, 118, 118); /* grey variation of para */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.ch-atom-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  font-family: var(--ff1);
  letter-spacing: var(--n);
  color: var(--clr);
}

.ch-atom-h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}
.ch-atom-h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}

.ch-atom-body-heading {
  font-size: 30px;
  font-weight: 700;
}

.ch-atom-p {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--ff2);
  color: var(--clr1);
}

.ch-atom-body-subpara {
  font-size: 15px;
  font-weight: 100;
}

.ch-atom-button {
  color: #63acfc;
  border-radius: 20%;
}

/* header */

.navbar--mt {
  padding-top: 30px;
  padding-bottom: 15px;
}
.ch-header__logo {
  width: 150.922px;
  height: 50.3438px;
}
.ch-header__button {
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-radius: 100px;
  font-size: 11px;
  font-weight: 400;
  height: 45px;
  line-height: 21px;
  width: 120px;
  color: rgb(99, 172, 252) !important;
  letter-spacing: 1px;
  border-width: 2px;
}

/* header */

/* banner 1 */

.ch-banner-main__h1 {
  text-align: left;
  font-family: var(--ff1);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}

.ch-banner-main__customerimage {
  width: 617px;
  height: 346px;
  margin-top: -75px;
  margin-right: 2px;
  padding-right: 10px;
}
/* banner */

/* /section 2 */
.ch-sect2__h2 {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: var(--n);
  font-family: var(--ff1);
  color: var(--clr);
}

/* section 2 */
