/* :root {
  --ff1: Recoleta Bold;
  --ff2: "Spartan", sans-serif;
  --n: normal;
  --clr: rgb(64, 63, 87); /* black variation of headings */
/*  --clr1: rgb(118, 118, 118); /* grey variation of para 
} */

:root {
  --ff1: Recoleta Bold;
  --ff2: HK Nova;
  --n: normal;
  --clr: #403f57; /* black variation of headings  rgb(64, 63, 87); */
  --clr1: #767676; /* grey variation of para rgb(118, 118, 118); */
  --lblue: #63acfc;
  --whblue: #f8fbff; /*  very whitish blue color in container background */
  --br: 40px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container-mod {
  width: 90%;
  border-radius: var(--br);
  background-color: var(--whblue);
}

.ch-atom-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  font-family: var(--ff1);
  letter-spacing: var(--n);
  color: var(--clr);
}

.ch-atom-h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}
.ch-atom-h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}

.ch-atom-body-heading {
  font-size: 30px;
  font-weight: 700;
}

.ch-atom-p {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--ff2);
  color: var(--clr1);
}

.ch-atom-body-subpara {
  font-size: 15px;
  font-weight: 100;
}

.ch-atom-button {
  color: #63acfc;
  border-radius: 20%;
}

/* header */
.ch-header__logo {
  width: 170px;
  height: 52.1875px;
}

/* header */

/* / banner 1 */
.ch-banner-main--round {
  width: 90%;
  border-radius: var(--br);
  margin-top: -14px;
  margin-bottom: 50px;
  background-color: var(--whblue);
}

.ch-banner-main__h1 {
  text-align: left;
  font-family: var(--ff1);
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-left: 13px;
  margin-top: 69px;
}

.ch-banner-main__p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  font-family: var(--ff2);
  margin-top: 9px;
  margin-left: 10px;
}

.ch-banner-main__customerimage {
  width: 614px;
  height: 340px;
  margin-top: -14px;
  margin-right: -11px;
}

.ch-banner-main__btn--lblue {
  width: 160px;
  height: 62px;
  margin-top: 24px;
  margin-left: 11px;
  border-radius: 100px;
  border: none;
  background-color: #63acfc;
  font-weight: 500;
  padding-right: 10px;
}

.ch-banner-main__p2 {
  padding-left: 35px;
  margin-top: 5px;
  color: var(--lblue);
}

/* banner 1 */

/* section 2 */
.ch-sect2--round {
  height: 562px;
  width: 90%;
  /* border:1px solid blue; */
  background-color: var(--whblue);
  margin-top: 5px;
  margin-bottom: -54px;
}

.ch-sect2__headphone {
  width: 355px;
  height: 358px;
  position: absolute;
}

.ch-sect2__headphone--mod {
  transform: rotate(6deg) translate(-3px, 102px); /* -3 102*/
  z-index: 1;
}

.ch-sect2__rocket--transform1 {
  transform-origin: left;
  transform: translate(525px, 30px) rotate(2deg);
}

.ch-sect2__rocket--transform2 {
  /* transform-origin: right; */
  transform: translate(600px, -52px) rotate(42deg);
}

.ch-sect2__img-starlink {
  width: 90px;
  height: 20px;
  margin-top: 48px;
}
/* section 2 */
/* section3 */
.ch-org-chirpish-work {
}
.ch-org-chirpish-work--mod {
  margin-top: -55px;
}

.ch-atom-card-title {
  font-size: 25px;
  font-weight: 700;
}

.ch-chirpish-work__arrow--transform1 {
  transform: translate(350px, 65px) rotate(-320deg);
}

.ch-chirpish-work__arrow--transform2 {
  transform: scaleX(-1) translate(-157px, 292px) rotate(-303deg);
}

/* section3 */
/* section 4 */
/* refer molecules section */
.ch-org-emp--mod {
  height: 800px;
  margin-top: 120px;
}

.ch-org-emp__h2 {
  font-size: 32px;
}

.ch-org-emp__p {
  font-size: 14px;
}

.ch-org-emp__image {
  width: 685px;
  height: 669px;
}

.ch-org-emp__image--mod {
  margin-top: 13px;
  background-color: var(--whblue);
  border-radius: var(--br);

}

.ch-molc-empathy__image {
  width: 681px;
  height: 701px;
  margin-top: 45px;
}

/* section 4 */

/* section 5 carousel */


.ch-molc-cardsrow-t3 {
  width: 333px;
  height: 200px;
  border: none;
}

.ch-molc-cardsrow-t3--mod{margin-top:163px; margin-bottom: 20px;}

/* .ch-molc-cardsrow-t3__image--pl{padding-left: 10px;} */

/* section 5 carousel */

.ch-designed{}
.ch-designed--mod{margin-bottom:109px; margin-top:135px;}

.ch-designed__p{font-weight: 200;}


/* section 10 */
.ch-keepintouch--round {
  width: 90%;
  height: 372px;
  border: 1px solid;
  border-radius: 22px;
  border-color: rgb(63, 207, 251);
  background-color: #eff7ff;
}
/* section 10 */

/* footer */
.ch-org-footer {
}

.ch-molc-footer-list {
  padding: 0;
}

.ch-molc-footer-list--pl {
  padding-left: 206px;
  padding-right: 206px;
}

.ch-molc-footer-list__item {
  font-size: 13px;
  padding: 10px;
}

.ch-molc-footer-list__item2 {
  font-size: 13px;
  padding: 5px;
}

/* footer */
