:root {
  --ff1: Recoleta Bold;
  --ff2: HK Nova;
  --n: normal;
  --clr: #403f57; /* black variation of headings  rgb(64, 63, 87); */
  --clr1: #767676; /* grey variation of para rgb(118, 118, 118); */
  --lblue: #63acfc;
  --whblue: #f8fbff; /*  very whitish blue color in container background */
  --br: 40px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}
.container {
  width: 98%;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container-mod {
  width: 92%;
  border-radius: var(--br);
  background-color: var(--whblue);
}

.ch-atom-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  font-family: var(--ff1);
  letter-spacing: var(--n);
  color: var(--clr);
}

.ch-atom-h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}
.ch-atom-h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr);
  font-family: var(--ff1);
  letter-spacing: var(--n);
}

.ch-atom-body-heading {
  font-size: 30px;
  font-weight: 700;
}

.ch-atom-p {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--ff2);
  color: var(--clr1);
}

.ch-atom-body-subpara {
  font-size: 15px;
  font-weight: 100;
}

.ch-atom-button {
  color: #63acfc;
  border-radius: 20%;
}
/* Molecules */

.ch-molc-cardt1 {
  width: 152px;
  align-items: center;
  height: 112px;
  border: none;
  background-color: var(--whblue);
}

.ch-molc-cardt1__image {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

.ch-molc-cardt1__h3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: normal;
  font-weight: 700;
  font-family: var(--ff1);
  color: var(--clr);
  margin-top: -7px;
}

.ch-molc-cardt2-howitwork {
}

.ch-molc-cardt2-howitwork--mod {
  width: 130px;
  align-items: center;
  height: 112px;
  border: none;
}

.ch-molc-cardt2-howitwork__image {
  width: 60px;
  height: 90px;
}

.ch-molc-cardt2-howitwork__h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--n);
  font-weight: 400;
}

.ch-molc-cardt2-howitwork__p {
  font-size: 13px;
  line-height: 19.5;
  letter-spacing: var(--n);
  font-weight: 400;
}

/* Molecules */

/* Organisms */
.ch-org-emp {
}

.ch-org-emp__h2 {
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: var(--n);
  font-weight: 700;
  padding-bottom: 10px;
}

.ch-org-emp__p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}

.ch-org-emp__image {
  width: 350px;
  height: 200px;
}
/* Organisms */

/* Header */

.ch-top-header {
  background: #63acfc;
  padding: 5px 15px;
  height: 34px;
  line-height: 24px;
}
.ch-header--blue {
  background: #63acfc;
  padding: 5px 15px;
  height: 34px;
  line-height: 24px;
}
.ch-header__para {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
}
.ch-header__para--white {
  color: white;
}
.ch-header__logo {
  width: 126px;
  height: 52.1875px;
}
.ch-header__list {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 400;
  color: black !important;
}
.ch-header__button {
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-radius: 100px;
  font-size: 11px;
  font-weight: 400;
  height: 34px;
  line-height: 21px;
  width: 98px;
  color: rgb(99, 172, 252) !important;
  letter-spacing: 1px;
}
.navbar--mt {
  padding-top: 10px;
  padding-bottom: 15px;
}

.ch-header-container {
  width: 180px;
  height: 49px;
  margin-left: -6px;
  padding-top: 7px;
}

.ch-header-container__logo-text {
  font-family: var(--ff1);
  color: #63acfc;
  font-size: 25px;
}
/* Header */

/* main banner  */
.ch-banner-main {
}

.ch-banner-main--round {
  width: 92%;
  border-radius: var(--br);
  margin-top: 68px;
  margin-bottom: 50px;
  background-color: var(--whblue);
}

.ch-banner-main__h1 {
  text-align: center;
  letter-spacing: normal;
  color: var(--clr);
}

.ch-banner-main__p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  font-family: var(--ff2);
  margin-top: 9px;
}

.ch-banner-main__list {
  align-items: center;
  list-style-type: none;
  float: center;
}

.ch-banner-main__btn {
  width: 160px;
  height: 40px;
  border-radius: 100px;
  border: none;
}

.ch-banner-main__btn--lblue {
  width: 160px;
  height: 62px;
  margin-top: 24px;
  border-radius: 100px;
  border: none;
  background-color: #63acfc;
  font-weight: 500;
}

.ch-banner-main__p2 {
  color: var(--lblue);
  font-size: 16px;
  font-weight: 600;
  margin-top: 21px;
}

.ch-banner-main__customerimage {
  width: 110%;
  height: 206px;
  margin-top: 10px;
  padding-right: 20px;
}

.bird1 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: white;
  z-index: -1;
}

.bird2 {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 0;
}

.bird1--up {
  animation: up 269ms infinite;
}

.bird2--down {
  animation: down 269ms infinite;
}

@keyframes up {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate(25px, 29px);
  }
  50% {
    transform: translate(25px, 25px);
  }
  100% {
    visibility: visible;
    transform: translate(25px, 23px);
  }
}

@keyframes down {
  0% {
    visibility: visible;
    transform: translate(25px, 23px);
  }
  50% {
    transform: translate(25px, 25px);
  }
  100% {
    opacity: 0;
    visibility: visible;
    transform: translate(25px, 29px);
  }
}

/* main banner */

/* section 2 */
.ch-sect2 {
}

.ch-sect2--round {
  height: 562px;
  background-color: var(--whblue);
  margin-top: 5px;
  margin-bottom:-54px;
}

.ch-sect2__p {
  align-items: center;
  font-family: var(--ff2);
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  margin-top: 50px;
}

.ch-sect2__img-starlink {
  width: 90px;
  height: 20px;
  margin-top: 48px;
}

.ch-sect2__h2 {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: var(--n);
  font-family: var(--ff1);
  color: var(--clr);
  margin-top: -25px;
}

.ch-sect2__rocket{
  width: 90px;
  height: 75px;
  position: relative;
}

.ch-sect2__rocket--transform1 {
  transform-origin: left;
  transform: translate(210px, -22px) rotate(2deg);
}

.ch-sect2__rocket--transform2 {
  /* transform-origin: right; */
  transform: rotate(42deg);
}

.ch-sect2__headphone {
  width: 370px;
  height: 400px;
  position: absolute;
}

.ch-sect2__headphone--mod {
  transform: translate(10px, 20px);
}
/* check molecules section   */

/* section 2 */

/* section 3 */
.ch-howitwork {
}

.ch-chirpish-work__arrow {
  width: 135px;
  height: 40px;
  position: relative;
}

.ch-chirpish-work__arrow--transform1 {
  transform-origin: 169%;
  transform: translate(112px, -2px) rotate(52deg);
}

.ch-chirpish-work__arrow--transform2 {
  transform: scaleX(-1) translate(10px, -123px) rotate(-299deg);
}

.ch-howitwork__h2 {
  font-size: 35px;
  line-height: 1.2;
  letter-spacing: var(--n);
  font-weight: 700;
}

.ch-howitwork__p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: var(--n);
  font-weight: 400;
  margin-top: 18px;
}
/* section 3 */

/* section3 */

.ch-org-chirpish-work {
  padding-top: 80px;
}
.ch-molc-chirpish-top {
}
.ch-molc-card2 {
  padding-left: 15px;
}
.ch-atom-card-title {
  font-size: 20px;
  font-weight: 700;
}
.ch-atom-cardimage2 {
  width: auto;
  height: 90px;
}
.ch-molc-card2__para {
  color: rgb(118, 118, 118);
  font-size: 12px;
  font-weight: 400px;
  line-height: 18px;
  padding-top: 8px;
}
/* section3 */

/* section 4 */
/* refer molecules section */
.ch-emp-container {
  background-color: var(--whblue);
}

.ch-org-emp__image--mod {
  width: 300px;
  height: 300px;
  margin-top: 65px;
  background-color: var(--whblue);
}

/* section 4 */

/* section 5 carousel */
.ch-molc-cardsrow {
}

.ch-molc-cardsrow-t3 {
  width: 200px;
  height: 200px;
  border: none;
}

.ch-molc-cardsrow-t3__image {
  width: 45px;
  height: 45px;
}

.ch-molc-cardsrow-t3__h3 {
  font-family: var(--ff1);
  font-size: 20px;
  color: var(--clr);
}

.ch-molc-cardsrow-t3__p {
  font-family: var(--ff2);
  font-size: 15px;
  color: var(--clr1);
}

/* section 5 carousel */

/* section 8 */
.ch-recruit {
}

.ch-recruit--round {
  border-radius: var(--br);
  margin-bottom: 144px;
  border: none;
  background-color: #f8fbff;
}

/* section 8 */

/* section 9 */
.ch-readyto {
}

.ch-readyto--round {
  width: 92%;
  height: 412px;
  border: 1px solid;
  border-radius: 22px;
  border-color: rgb(63, 207, 251);

  padding-bottom: 20px;
  margin-bottom: 34px;
}

.ch-readyto__bgimage {
  background-image: url("/images/SOCIAL-MEDIA-1-2.png");
  background-repeat: no-repeat;
  background-color: #63acfc;
  background-position: bottom;
  background-size: 100% 100px;
}

.ch-readyto__h1 {
  font-size: 29px;
  line-height: 1.2;
  color: white;
  margin-top: 40px;
  margin-bottom: 15px;
}

.ch-readyto__p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}

.ch-header__button--white {
  /* border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252); */
  border-radius: 100px;
  font-size: 11px;
  font-weight: 400;
  height: 60px;
  line-height: 21px;
  width: 160px;
  background-color: white;
  letter-spacing: 1px;
}

/* section 9 */

/* section 10 */
.ch-keepintouch {
}

.ch-keepintouch--round {
  width: 92%;
  height: 372px;
  border: 1px solid;
  border-radius: 22px;
  border-color: rgb(63, 207, 251);
  background-color: #eff7ff;
}

.ch-keepintouch__list {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.ch-keepintouch__list-image {
  width: 40px;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
}

.ch-keepintouch__h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.ch-molc-banner__button {
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(99, 172, 252);
  height: 60px;
  width: 160px;
  line-height: 18px;
}
.ch-molc-banner__button--white {
  color: rgb(99, 172, 252);
  background-color: white;
  border-color: rgb(99, 172, 252);
}

.form-control--size {
  border-radius: 100px;
  width: 270px;
  height: 60px;
  display: inline;
}
/* section 10 */

/* footer */
.birdbox--big {
  align-items: center;
  width: 60px;
  height: 60px;
}

.ch-footer {
}

.ch-footer__list1 {
  list-style-type: none;
  font-family: var(--ff2);
  align-items: center;
}

.ch-footer__list1-items {
  padding-left: 5px;
}

.ch-org-footer {
}

.ch-molc-footer-list--pl{margin:auto;}

.ch-molc-footer-list {
  padding: 0;
}
.ch-molc-footer-list__item {
  font-size: 13px;
  padding: 8px;
  margin-right:auto;
  margin-left: auto;

}
.ch-molc-footer-list__item2 {
  font-size: 9px;
  padding-left: 9px;
  padding-right: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* footer */
