:root {
  --ff1: Recoleta Bold;
  --ff2: "Spartan", sans-serif;
  --n: normal;
  --clr: color: rgb(64, 63, 87); 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.ch-atom-h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 33px;
  font-family: var(--ff1);
  letter-spacing: normal;
}

.ch-atom-h2 {
  font-size: 32px;
  font-weight: 700;
}
.ch-atom-h3 {
  font-size: 20px;
  font-weight: 700;
}
.ch-atom-body-heading {
  font-size: 30px;
  font-weight: 700;
}

.ch-atom-p {
  font-size: 14px;
  font-weight: normal;
}
.ch-atom-body-subpara {
  font-size: 15px;
  font-weight: 100;
}

.ch-atom-button {
  color: #63acfc;
  border-radius: 20%;
}

/* Header */

.ch-top-header {
  background: #63acfc;
  padding: 5px 15px;
  height: 34px;
  line-height: 24px;
}
.ch-header--blue {
  background: #63acfc;
  padding: 5px 15px;
  height: 34px;
  line-height: 24px;
}
.ch-header__para {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -1px;
}
.ch-header__para--white {
  color: white;
}
.ch-header__logo {
  width: 126px;
  height: 52.1875px;
}
.ch-header__list {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: 400;
  color: black !important;
}
.ch-header__button {
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-radius: 100px;
  font-size: 11px;
  font-weight: 400;
  height: 34px;
  line-height: 21px;
  width: 98px;
  color: rgb(99, 172, 252) !important;
  letter-spacing: 1px;
}
.navbar--mt {
  padding-top: 10px;
  padding-bottom: 15px;
}

/* Header */

/* main banner  */
.ch-banner-main {
  margin-top: 68px;
}

.ch-banner-main__h1 {
  text-align: center;
  letter-spacing: normal;
  color: var(--clr);
}

.ch-banner-main__p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  font-family: var(--ff2);
  margin-top: 10px;
}

.ch-banner-main__list {
  align-items: center;
  list-style-type: none;
  float: center;
}

.ch-banner-main__btn {
  width: 160px;
  height: 40px;
  margin-top: 45px;
}

.ch-banner-main__customerimage {
  width: 100%;
  height: 206px;
  margin-top: 10px;
  margin-right: 2px;
}

/* main banner */

/* section 2 */

.ch-molc-cardt1 {
  width: 152px;
  align-items: center;
  height: 112px;
  border: none;
}

.ch-molc-cardt1__image {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

.ch-molc-cardt1__h3 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: normal;
  font-weight: 700;
  font-family: var(--ff1);
  color: var(--clr);
}

/* section 2 */

/* LARGE DEVICES */
@media screen and (min-width: 768px) {
  .ch-atom-h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--ff1);
  }

  .ch-header__logo {
    width: 170px;
    height: 52.1875px;
  }

  /* / banner 1 */

  .ch-banner-main__h1 {
    text-align: left;
    font-family: var(--ff1);
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
  }

  .ch-banner-main__customerimage {
    width: 594px;
    height: 583px;
    margin-top: 1px;
    margin-right: 2px;
  }

  /* banner 1 */
}

@media screen and (min-width: 992px) {
  .navbar--mt {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .ch-header__logo {
    width: 150.922px;
    height: 50.3438px;
  }
  .ch-header__button {
    border-bottom-color: rgb(99, 172, 252);
    border-top-color: rgb(99, 172, 252);
    border-right-color: rgb(99, 172, 252);
    border-left-color: rgb(99, 172, 252);
    border-radius: 100px;
    font-size: 11px;
    font-weight: 400;
    height: 45px;
    line-height: 21px;
    width: 120px;
    color: rgb(99, 172, 252) !important;
    letter-spacing: 1px;
    border-width: 2px;
  }

  /* banner 1 */
  .ch-banner-main__customerimage {
    width: 617px;
    height: 346px;
    margin-top: -75px;
    margin-right: 2px;
    padding-right: 10px;
  }
}
